SELECT
    t1.price,
    t2.product_category_name
    t3.order_purchase_timestamp,
    t4.customer_state

FROM
    olist_order_items_dataset AS t1

LEFT JOIN
    olist_products_dataset AS t2 ON t1.product_id = t2.product_id

LEFT JOIN
    olist_orders_dataset AS t3 ON t1.order_id = t3.order_id

LEFT JOIN    
    olist_customers_dataset AS T4 ON t3.customer_id = t4.customer_id

In [3]:
import pandas as pd
import sqlite3

db_path = 'ecommerce.db'
query = """
SELECT
    t1.price,
    t2.product_category_name,
    t3.order_purchase_timestamp,
    t4.customer_state
FROM
    order_items AS t1
LEFT JOIN
    products AS t2 ON t1.product_id = t2.product_id
LEFT JOIN
    orders AS t3 ON t1.order_id = t3.order_id
LEFT JOIN    
    customers AS t4 ON t3.customer_id = t4.customer_id
"""

with sqlite3.connect(db_path) as conn:
    df_vendas = pd.read_sql_query(query, conn)

In [4]:
df_vendas['order_purchase_timestamp'] = pd.to_datetime(df_vendas['order_purchase_timestamp'])

In [7]:
df_vendas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112650 entries, 0 to 112649
Data columns (total 4 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   price                     112650 non-null  float64
 1   product_category_name     111047 non-null  object
 2   order_purchase_timestamp  112650 non-null  datetime64[ns]
 3   customer_state            112650 non-null  object
dtypes: datetime64[ns](1), float64(1), object(2)
memory usage: 3.4+ MB

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

sns.set_theme(style= "whitegrid")